<template name="home">
  <head>
    <title>acm_web</title>
  </head>

  <body>
  <header>
    {{> navbar}}
  </header>
  <main>
    {{> yield }}
  </main>
  <!--{{> hello}}-->
  <!--{{> info}}-->
  </body>
</template>


<template name="navbar">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<img src="/img/logo.png" alt="logo" width="40px" >-->
        <a class="navbar-brand" href="/">DKIT ACM</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/activities">Activities</a></li>
        <li><a href="/repos">Repositories</a></li>
        <li><a href="/calendar">Chapter Calendar</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input id="search" type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </div>
    {{>search_result}}

  </nav>

</template>



