<template name="activities">
    <h1>Activities</h1>
    <p>Activities of the chapter during the current year, divided by past and future events</p>
    <h2>Upcoming Events</h2>
        <ul>
            {{#each r in getPastEvent}}
                 {{#if r.isNew}}
                    <li id="{{r._id}}">
                        <h4>{{r.title}}</h4>
                        <p>Start: <span>{{r.start}}</span></p>
                        <p>End: <span>{{r.end}}</span></p>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    <h2>Past Events</h2>
    <ul>
    {{#each r in getPastEvent}}
        {{#if r.isNew}}
        <!--just for the fun of it-->
        {{else}}
        <li id="{{r._id}}">
            <h4>{{r.title}}</h4>
            <p>Start: <span>{{r.start}}</span></p>
            <p>End: <span>{{r.end}}</span></p>
        </li>
        {{/if}}
    {{/each}}
    </ul>
</template>