<template name="search_result">

    <div id="search_result">
        <ul>
            {{#each searchEvents}}
            <li><a href="/activities/#{{_id}}">{{title}}</a></li>
            {{/each}}
        </ul>
    </div>
</template>
