.mySlides{
    width: 100%;

    /*border: solid thin red;*/
    padding:0;
    margin:0;


}
.w3-display-left{

    /*display: left;*/
    z-index: 100;
    width: 70px;
    height: 70px;
    background-color: grey;
    opacity: 0.8;
    position: absolute;
    border: none;
    top:65%;

}
.w3-display-right{

    /*display: left;*/
    width: 70px;
    height: 70px;

    z-index: 100;
    background-color: grey;
    opacity: 0.8;
    position: absolute;

    border: none;

    right:10%;
    top:65%;
}