<template name="big_slider">
    <div class="slider_main">
        <div>
            <img class="mySlides" src="/img/datahack.png">
            <img class="mySlides" src="/img/datahack16.jpg">
            <img class="mySlides" src="/img/david.jpg">
            <!--<div id="mySlides_caption"></div>-->
            <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
        </div>
        <script>
            var slideIndex = 1;
            showDivs(slideIndex);
            function plusDivs(n) {
                showDivs(slideIndex += n);
            }

            function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                if (n > x.length) {slideIndex = 1}
                if (n < 1) {slideIndex = x.length} ;
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                x[slideIndex-1].style.display = "block";
            }
        </script>
    </div>
</template>

<template name="intro">
    {{> big_slider}}
</template>