<template name="repos">

    <h1>Repositories</h1>
    <p>This is a page for listing existing contents, i.e.: code, documentations which were used (or may be helpful) during internal training for competition </p>
    <table border="solid thin black" width="100%" cellpadding="5%">
        <thead>
            <td>Name</td>
            <td>Link</td>
            <td>Description</td>
            <td>Ocassion</td>
            <td>Author/Source</td>
        </thead>
        {{#each r in getRepos}}
        <tr>
            <td>{{r.name}}</td>
            <td><a href='{{r.link}}'>Click here</a></td>
            <td>{{r.description}}</td>
            <td>{{r.ocassion}}</td>
            <td>{{r.author}}</td>
        </tr>
        {{/each}}

    </table>
</template>