<template name="about">
    <h1>About us</h1>
    <div width="100vw">


        <table>
            <tr>
                <td width="80%">ACM Student Chapter at Dundalk IT is one of the earliest student chapters in Europe. The chapter
                    is not only just a computing society where people meet and share ideas, but also, we take care of
                    organizing competitions, trainings, talks and activities. Our activities included: annual Hour of Code events, various trainings for competitions,
                    annual Google Hashcode competition hub and IRLCPC competition,... We also have a close relationship with local secondary schools in our School Collaboration Program
                    and the related exhibition.
                    In the upcoming year of 2017-2018, we aim to carry out the typical activities which was carried out throughout every year
                    of the chapter, but also, many new activities.
                </td>
                <td>
                    <img id="logo" src="/img/logo.png" width="200px">
                </td>
            </tr>

        </table>

    </div>
    <h2>
        Our people
    </h2>
    <div>
        <p>These are the member of the ACM Chapter Board, if you want to join us or have any question, just ping them by any channel
        </p>
        <div class="gallery">
            <ul>
                <li>
                <div>
                    <img src="https://www.dkit.ie/sites/default/files/styles/dkit_staff_summary/public/userpictures/Christian%20Horn.jpg?itok=txqB8a5h">
                    <h4>Prof. Dr. Christian Horn</h4>
                    <p>Faculty Sponsor</p>
                    <p>Head of Department of Computer Science and Mathematics</p>
                    <p>Email: christian.horn@dkit.ie</p>
                </div>
                </li>
                <li>
                    <div>
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAboAAAAJDFiMzVjYjYxLTE1YWUtNDNkYS1hYmFjLWYwM2NhNDY3MWMwMg.jpg">
                        <h4>Minh Thu Le</h4>
                        <p>Vice-Chairperson</p>
                        <p>Third-year Student</p>
                        <p>Email: D00170516@student.dkit.ie</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAt1AAAAJGU3ZjNkMTM1LTEyY2ItNGI5Zi05ZjlmLWY3ZjllMzA3NTU2MA.jpg">
                        <h4>David Vasiliauskas</h4>
                        <p>Secretary</p>
                        <p>Second-year Student</p>
                        <p>Email: D00186156@student.dkit.ie</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkgAAAAJGU2NGVlNDQ5LWNlMTMtNGYyZC04YWNhLWRmMjI1YmNkMTVhNg.jpg">
                        <h4>Mr. David Mc Quaid</h4>
                        <p>Recruitment and Retention Officer, Head of IT Learning Center</p>
                        <p>Email: itlc@dkit.ie</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>