/* CSS declarations go here */
div.gallery ul li
{
    display:inline-block;  /* display list items beside each other */
    background-color:white;
    width:250px;   /* width of each image */
    text-align:center;  /* text under image */
    padding:10px;
    margin:40px;
}
div.gallery{
    width: 70%;
    margin: 0 auto;
}
div.gallery ul li:hover
{
    position: relative;
    z-index: 5; /* place this image on the top */
}

div.gallery ul li img
{
    width:100%; /* img takes up full width of containing li */
    padding-bottom:10px;  /* push text down a bit */
}
div.gallery img
{
    width: 300px;
    height: 300px;
    border-radius : 200px;
}
